
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(223, 223, 223);
}
h1, h2{
    font-size: 20px;
    color: #14c549;
    text-align: center;
}

header{
    background-color: rgb(41, 39, 39);
}
.text-deco{
    color: aliceblue;
    text-decoration: none;
}
.CCC{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}
.posts-style{
    background-color: azure;
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid azure;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.contact-style{
    background-color: rgb(255, 255, 255);
    margin-left: 400px;
    margin-right: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 10px;
}
